@import "colors";
@import "fonts";
@import "icons";

// Buttons
// .button_size.button_name

@mixin button($padding-h, $padding-w) {
  padding: $padding-h $padding-w;
  display: block;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border: none;
  outline: 0;
  &:disabled {
    opacity: 0.56;
  }
  &:hover {
    cursor: pointer;
  }
}

@mixin button_colors($background, $font_color, $hover) {
  background-color: $background;
  color: $font_color;
  &:hover {
    background-color: $hover;
    color: $font_color;
  }
}

.l_button {
  @include button(16px, 16px);
  @include l_button_font;
}

.m_button {
  @include button(10px, 12px);
  @include m_button_font;
}

.s_button {
  @include button(10px, 12px);
  @include s_button_font;
}

.primary_button {
  @include button_colors($primary, $white, $dark_primary);
}

.secondary_button {
  @include button_colors($grey1, $neutral, $grey2);
}

.flat_button {
  @include button_colors(none, $primary, none);
  &:hover {
    color: $dark_primary;
  }
}

.horizontal {
  display: flex;
}

// ICON BUTTONS
// .button_size.icon

@mixin icon_button($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.l_icon_button {
  @include icon_button(56px);
}

.m_icon_button {
  @include icon_button(44px);
}

.s_icon_button {
  @include icon_button(36px);
}

// Tabs

@mixin tab {
  @include p2;
  color: $neutral;
  margin-right: 24px;

  &.active {
    color: $primary;
    border-bottom: 2px solid $primary;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    margin-bottom: -1px;
  }

  &:hover {
    color: $dark;
    cursor: pointer;
  }
}

// Images

@mixin images($width, $height, $radius) {
  border-radius: $radius;
  width: $width;
  height: $height;
  -o-object-fit: cover;
  object-fit: cover;
}

//Badges
@mixin badge($padding-h, $padding-w) {
  display: inline-block;
  padding: $padding-h $padding-w;
  border-radius: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border: none;
  white-space: nowrap;
}

.sq {
  border-radius: 4px !important;
}

.l_badge {
  @include badge(10px, 16px);
  @include p2;
}

.m_badge {
  @include badge(6px, 12px);
  @include p4;
}

.default_badge {
  @include button_colors($grey2, $dark, $grey2);
}

.primary_badge {
  @include button_colors($primary, $white, $primary);
}
