.primary,
.secondary {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  padding: 15px 29px;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.4px;
}

.primary {
  background: #F36D03;
  color: white;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  &:hover {
    background: #F05600;
  }
}

.secondary {
  background: white;
  border: 2px solid #ADB2BA;
  color: black;

  &:hover {
    background: lightgray;
  }
}

.actions {
  input {
    width: 296px;
    height: 50px;
    border: none;
    color: white;
    background: #F36D03;
    border-radius: 8px;
    cursor: pointer;
  }
}

a.apply {
  display: block;
  padding: 14px;
  width: 296px;
  border: none;
  color: white;
  background: #F36D03;
  border-radius: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.4px;
}

.tertiary a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #ADB2BA;

  &:hover {
    text-decoration: none;
    color: #3E4462;
  }
}