// Основные цвета
$white: #ffffff;
$black: opacify(rgba(#000000, 0), 0.9);
$dark: #18214D;
$neutral: #3E4462;
$primary: #F36D03;
$dark_primary: darken($primary, 8);

.white { color: $white !important; }
.black { color: $black !important; }
.dark { color: $dark !important; }
.neutral { color: $neutral !important; }
.primary { color: $primary !important; }
.dark_primary { color: $dark_primary !important; }

// Оттенки Серого
$grey1: #F2F4FA;
$grey2: #DFE1EA;
$grey3: #D1D3DA;
$grey4: #ADB2BA;
$grey5: #65676E;

.grey1 { color: $grey1 !important; }
.grey2 { color: $grey2 !important; }
.grey3 { color: $grey3 !important; }
.grey4 { color: $grey4 !important; }
.grey5 { color: $grey5 !important; }

// Дополнительные Цвета
$red: #FC2828;
$light_red: opacify(rgba($red, 0), 0.12);
$green: #07A358;
$light_green: opacify(rgba($green, 0), 0.12);
$light_orange: opacify(rgba($primary, 0), 0.2);
$middle_orange: opacify(rgba($primary, 0), 0.4);
$dirty_orange: darken($primary, 20%);


.red { color: $red; }
.light_red { color: $light_red; }
.green { color: $green; }
.light_green { color: $light_green; }
.dirty_orange { color: $dirty_orange !important; }
