@import "colors";
@import "fonts";
@import "icons";
@import "atoms";
@import "inputs";

@mixin ava_name {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    @include images(140px, 140px, 50%);
    margin-right: 40px;
  }
  .user_info {
    display: flex;
    flex-direction: column;
    h3 {
      width: 332px;
    }
  }
}

// Tabs

@mixin nav_tab {
  display: flex;
  border-bottom: 1px solid $grey2;
  padding-bottom: -1px;

  .tab {
    @include tab;
  }
}

// Checkbox Button

.box_label_container {
  @include box_label_container;

  .checkbox[type="checkbox"] {
    @include box;
    @include checkbox;
  }

  label {
    @include box_label;
  }
}


// Radio Button

.box_label_container {
  @include box_label_container;

  .radio[type="radio"] {
    @include box;
    @include radio;
  }

  label {
    @include box_label;
  }
}
