@import "colors";
@import "fonts";
@import "icons";
@import "atoms";
@import "inputs";

@mixin ava_name {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    @include images(140px, 140px, 50%);
    margin-right: 40px;
  }

  .user_info {
    display: flex;
    flex-direction: column;
    h3 {
      max-width: 332px;
      color: $dark;
      margin-bottom: 8px;
    }
    .p2 {
      color: $grey5;
    }
  }
}

// Tabs

@mixin nav_tab {
  display: flex;
  border-bottom: 1px solid $grey2;
  padding-bottom: -1px;

  .tab {
    @include tab;
  }
}

// Checkbox Button

.box_label_container {
  @include box_label_container;

  .checkbox[type="checkbox"] {
    @include box;
    @include checkbox;
  }

  label {
    @include box_label;
  }
}

// Radio Button

.box_label_container {
  @include box_label_container;

  .radio[type="radio"] {
    @include box;
    @include radio;
  }

  label {
    @include box_label;
  }
}

// Step bar

.step_bar {
  display: flex;

  .step {
    text-align: center;
    @include p4;
    line-height: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: $white;
    background-color: $primary;
    opacity: 0.56;
    margin-right: 20px;

    &.active {
      opacity: 1;
    }
  }
}
