@import "colors";
@import "fonts";
@import "icons";
@import "atoms";
@import "inputs";

@mixin ava_name {
  display: flex;
  flex-direction: row;
  align-items: center;

  img,
  .avatar {
    @include images(140px, 140px, 50%);
    margin-right: 40px;
  }

  .user_info {
    display: flex;
    flex-direction: column;
    h3 {
      max-width: 332px;
      color: $dark;
      margin-bottom: 8px;
    }
    .p2 {
      color: $grey5;
    }
  }
}

// Tabs

@mixin nav_tab {
  display: flex;
  border-bottom: 1px solid $grey2;
  padding-bottom: -1px;

  .tab {
    @include tab;
  }
}

// Checkbox Button

.box_label_container {
  @include box_label_container;

  .checkbox[type="checkbox"] {
    @include box;
    @include checkbox;
  }

  label {
    @include box_label;
  }
}

// Radio Button

.box_label_container {
  @include box_label_container;

  .radio[type="radio"] {
    @include box;
    @include radio;
  }

  label {
    @include box_label;
  }
}

// Step bar

.step_bar {
  display: flex;

  .step {
    text-align: center;
    @include p4;
    line-height: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: $white;
    background-color: $primary;
    opacity: 0.56;
    margin-right: 20px;

    &.active {
      opacity: 1;
    }
  }
}

// Flat card
@mixin flat_card {
  max-width: 372px;
  border-radius: 8px;

  .main_photo {
    width: 330px;
    height: 200px;
    background: $grey3;
    margin: 0 20px 0 20px;
    border-radius: 4px;
  }

  .small_photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 4px 20px 20px 20px;

    .photo {
      width: 56px;
      height: 56px;
      background: $grey3;
      border-radius: 4px;
      margin-top: 8px;
      margin-right: 12px;
    }
  }

  h5, .p2, .p4 {
    margin: 20px;
  }
}

.flat_card {
  @include flat_card;
}

@mixin conversation_header {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  border-bottom: solid 1px $grey2;
  @include p3;

  .conversation_avatar {
    @include fake_avatar(32px);
    margin-right: 12px;
  }
  .users_count {
    margin-left: 16px;
    margin-right: 132px;
    &:hover {
      cursor: pointer;
    }
  }

  .users_count_flat {
    margin-left: 16px;
    margin-right: 52px;
    &:hover {
      cursor: pointer;
    }
  }



  .s_button.flat_button {
    margin-right: 16px;
  }
}

.conversation_header {
  @include conversation_header;
}
