

.photosFlat {
  margin-top: 48px;
  display: flex;
  flex-direction: row;

  .first {
    img {
      object-fit: cover;
      width: 516px;
      height: 368px;
      border-radius: 8px;
    }
  }

  .other {
    margin-left: 12px;
    display: flex;
    flex-direction: column;

    img {
      object-fit: cover;
      width: 100px;
      height: 72px;
      border-radius: 8px;
      margin-bottom: 8px;
    }
  }
}
