@import "colors";

h1, h2, h3, h4, h5, p, a,
.h1, .h2, .h3, .h4, .h5, .p, .p2, .p3, .p4,
div {
  font-family: 'Helvetica', sans-serif;
  color: $black;
}

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -3px;
}

@mixin font_settings($size, $height, $spacing) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

// Headers

@mixin h1 { @include font_settings(72px, 80px, -3px) }
h1 { @include h1; }
.h1 { @include h1; }

@mixin h2 { @include font_settings(56px, 62px, -2.4px) }
h2 { @include h2; }
.h2 { @include h2; }

@mixin h3 { @include font_settings(36px, 44px, -1px) }
h3 { @include h3; }
.h3 { @include h3; }

@mixin h4 { @include font_settings(22px, 32px, -0.55px) }
h4 { @include h4; }
.h4 { @include h4; }

@mixin h5 { @include font_settings(16px, 20px, -0.4px) }
h5 { @include h1; }
.h5 { @include h1; }

// Buttons
@mixin l_button_font { @include font_settings(20px, 24px, -0.5px) }
@mixin m_button_font { @include font_settings(18px, 24px, -0.5px) }
@mixin s_button_font { @include font_settings(16px, 16px, -0.4px) }

// Paragraphs

@mixin p { @include font_settings(20px, 28px, -0.4px) }
p { @include p; }
.p { @include p; }

@mixin p2 { @include font_settings(18px, 24px, -0.3px) }
.p2 { @include p2; }

@mixin p3 { @include font_settings(16px, 20px, -0.2px) }
.p3 { @include p3; }

@mixin p4 { @include font_settings(14px, 20px, -0.4px) }
.p4 { @include p4; }
