@mixin icon($url, $size) {
  background: url($url) no-repeat center;
  width: $size;
  height: $size;
}

.flat_arrow { @include icon("icons/flat_arrow.svg", 32px); }
.plus { @include icon("icons/plus.svg", 24px); }
.minus { @include icon("icons/minus.svg", 24px); }
.vk { @include icon("icons/vk.svg", 24px); }
.facebook { @include icon("icons/facebook.svg", 24px); }
.instagram { @include icon("icons/instagram.svg", 24px); }
.avatar { @include icon("icons/avatar.svg", 24px); }
.photos { @include icon("icons/photos.svg", 24px); }
.arrow_down { @include icon("icons/arrow_down.svg", 36px); }
