@import "colors";
@import "fonts";

*:disabled {
  opacity: 0.56;
}

// Навесить любому инпуту этот класс, включая чекбоксы и тд

@mixin default_input($padding, $padding-r, $padding-l) {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-appearance: none;
  padding: $padding $padding-r $padding $padding-l;
  border-radius: 8px;
  border: 1px solid $grey3;
  color: $dark;
  @include p2;

  &:hover {
    border: 1px solid $grey4;
    color: $dark;
  }
  &::-webkit-input-placeholder {
    color: $grey3;
  }
  &::-moz-placeholder {
    color: $grey3;
  }
  &:-ms-input-placeholder {
    color: $grey3;
  }
  &::-ms-input-placeholder {
    color: $grey3;
  }
  &::placeholder {
    color: $grey5;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &:active {
    outline: none;
    border: 1px solid $primary;
    color: $dark;
  }

  &:invalid {
    background-color: $light_red;
    border: 1px solid #ffe5e3;
    &:focus,
    &:active {
      border: 1px solid $red;
      background-color: transparent;
    }
  }
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // &select {
  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
}

.default_input {
  @include default_input(16px, 16px, 20px);
}

.label_default_input {
  position: relative;

  label {
    position: absolute;
    top: 21px;
    left: 21px;
    transition: top 0.3s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
    background-color: $white;
    padding: 2px 8px;
    font-size: 0px;
    z-index: 0;
  }

  .default_input {
    width: inherit;
  }

  .default_input:invalid + label {
    color: $red;
  }

  .default_input:not([value='']) + label,
  .default_input:focus + label {
    @include p4;
    opacity: 1;
    color: $black;
    top: -11px;
    box-sizing: border-box;
    z-index: 500;
  }

  .default_input:not([value='']) + label {
    color: $grey3;
  }

  .default_input:not([value=''])::-webkit-input-placeholder,
  .default_input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}
// input_box общая логика для чекбокса

@mixin box {
  position: relative;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

  &:hover {
    cursor: pointer;
    border-color: $grey4;
  }

  &:invalid {
    background-color: $light_red;
  }

  &:invalid + label {
    color: $red;
  }
}

@mixin checkbox {
  border-radius: 4px;
  border: 1px solid $grey3;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 12px;
    top: 3px;
    left: 9px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: $white;
    background: $primary;
    border: 1px solid $primary;

    &::before {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $dark_primary;
      background-color: $dark_primary;
    }
  }
}

@mixin radio {
  border-radius: 50%;

  &:checked {
    color: $white;
    background: $primary;
    border: 6px solid $grey5;

    &::before {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      background-color: $dark_primary;
    }
  }
}

@mixin box_label {
  @include p2;
  margin-left: 16px;
  margin-right: 12px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // &::before {
  //   position: absolute;
  //   content: attr(data-content);
  //   color: $grey2;
  // }

  &:hover {
    cursor: pointer;
  }
}

@mixin box_label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $grey2;
  border-radius: 8px;
  padding: 16px;
}

// COUNT

.count_input {
  position: relative;
  display: flex;
  align-items: center;

  width: 168px;

  input[type="number"] {
    @include default_input(16px, 36px, 36px);
    width: 168px;
    text-align: center;
  }

  .minus,
  .plus {
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }

  .minus {
    left: 16px;
  }

  .plus {
    right: 16px;
  }
}

// textarea
// Этот миксин достаточно добавить в нужный контейнер

@mixin textarea {
  textarea {
    min-height: 108px;
    background-color: $grey2;
    color: $dark;
  }
}

// SEARCH

.search_input {
  .default_input {
    padding: 16px 54px;
  }
  .search {
    position: absolute;
    margin: 16px 8px 16px 16px;
  }
}

// IMAGE UPLOADER

.image_uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 424px;
  height: 124px;
  border-radius: 8px;
  border: 1px dashed $light_orange;

  .photos {
    width: 44px;
    height: 44px;
    border: 1px solid $light_orange;
    border-radius: 50%;
  }

  .file_field {
    position: absolute;
    cursor: pointer;
    width: inherit;
    height: inherit;
    opacity: 0;
  }
}

.avatar_uploader {
  display: flex;
  align-items: center;
  margin: 40px 0;
  .avatar {
    width: 80px;
    height: 80px;
    background-color: $light_orange;
    border-radius: 50%;
    &:hover {
      background-color: $middle_orange;
      cursor: pointer;
    }
  }
}

// autocomplete

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

// Messages

.message_form {
  width: calc(100% - 16px);
  padding: 8px;
  background-color: $grey2;

  .new_message {
    position: relative;

    .new_message_input {
      @include default_input(12px, 12px, 24px);
      width: 100%;
      background-color: $white;
      border: none;

      &:hover {
        border: none;
      }

      &:active {
        border: none;
      }

      &:focus {
        border: none;
      }
    }

    .s_icon_button {
      position: absolute;
      right: 8px;
      top: 9px;
    }
  }
}
