@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

textarea, select, input, button { outline: none; }

.field {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

input, select {
  font-size: 16px;
  border: 2px solid #ADB2BA;
  box-sizing: border-box;
  border-radius: 8px;
  height: 50px;
  width: 302px;
  background: white;
  padding: 8px;

  &[type=text] {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: #18214D;
  }

  &:focus {
    border: 2px solid #18214D;
  }
}

label {
  color: red;
  //opacity: 0;
}

.remember_me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
