.login,
.register {
  padding-top: 40px;
  padding-left: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: auto;

  h1 {
    margin-bottom: 20px;
  }

  .field {
    margin-bottom: 16px;
  }

  .actions input {
    margin-top: 8px;
    width: 302px;
  }
}
