@import "colors";
@import "fonts";
@import "atoms";

.menubar {
  top:0px;
  width: calc(100vw - 186px - 64px);
  height: 64px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 186px;
  padding-right: 98px;
  font-size: 18px;

  .menu_item {
    @include s_button_font;
  }

  .menu_item_icon {
    @include images(28px, 28px, 50%);
  }

  .logo {
    display: block;
    background-image: url("logo.svg");
    background-size: cover;
    width: 94px;
    height: 20px;
  }

  .menu_items_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu_items_right,
  .current_user {
    display: flex;
    align-items: center;
  }

  .menu_items_left,
  .menu_items_right {
    a {
      margin-right: 20px;
    }

    .current_user {
      margin-right: 124px;
    }
  }

  .settings,
  .log_out {
    display: none;
  }

  &:hover {
    .settings,
    .log_out {
      display: block;
    }

    .current_user {
      margin-right: 20px;
    }
  }
}








.conversation_menubar {
  top:0px;
  width: calc(100vw - 64px);
  height: 64px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;

  .menu_item {
    @include s_button_font;
  }

  .menu_item_icon {
    @include images(28px, 28px, 50%);
  }

  .logo {
    display: block;
    background-image: url("logo.svg");
    background-size: cover;
    width: 94px;
    height: 20px;
  }

  .menu_items_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu_items_right,
  .current_user {
    display: flex;
    align-items: center;
  }

  .menu_items_left,
  .menu_items_right {
    a {
      margin-right: 20px;
    }

    .current_user {
      margin-right: 0;
    }
  }
}
