@import "colors";
@import "inputs";

.UserForm {
  width: 400px;
  padding-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;

  .default_input {
    width: 320px;
    margin-bottom: 16px;
  }

  .textarea {@include textarea}

  h4 {
    margin-bottom: 16px;
    color: $dark;
  }
  }
