section .UserForm {
  width: 800px;
  margin: 0 auto;
  padding: 80px 184px;
  background-color: white;

  p {
    margin-top: auto;
  }

  .buttonWrapper {
    margin-top: 8px;

    button {
      margin-right: 12px;
    }
  }
}
